extends layout
block header
block content
  h1= title
  p Welcome to #{title}
  input#input(type="text", placeholder="Enter text", name="text")
  ul#results
    script(src="javascripts/shout_javascript.js")
